html, body { /* the whole page */
  height: 100%;
  margin: 0%;
}
.header { /* title banner on the top */
  font-size: 20px;
  width: auto;
  height: 10%;
  border: 5px;
  margin: 3%;
}
.ins { /* the underside of the banner container */
}
.sidenav { /* the sidebar thing on the left of the rest of the page */
}
.main{ /* the two rows */
}
.row1 { /* row 1 */
  display: flex;
  flex-wrap: nowrap;
}
.desc { /* description box, separated for correct sizing */
}
.shads { /* box for shadow */
}
.shads img { /* image properties for shads*/
  width: auto;
  height: auto;
  max-width: 50%;
  max-height: 50%;
}
.leftover { /* idk what this is but i have space for it */
}
.row2 { /* row 2 */
  display: flex;
  flex-wrap: nowrap;
}
.cols2 { /* the set of columns on the bottom left */
}
.recbuys { /* my recent buys */
}
.smallbanner { /* favorite characters */
}
.smallbanner img { /* banner img on the bottom */
  width: auto;
  height: auto;
  max-width: 75%;
  max-height: 75%;
}
.minesweeper { /* minesweeper pb */
  color: White;
}
.minesweeper::before { /* minesweeper bg image */
  background-image: url("assets/sweeper.png");
  background-size: cover;
  background-position: 75% 50%;
}
.currentsong { /* my current favorite song */
}
@media only screen and (max-width: 600px) { /* copy everything in here and edit for mobile layout*/
}
