@font-face {
	font-family: DC;
	src: url('common/eurostile-bold-extended.otf');
}
@font-face {
	font-family:biosish;
	src: url('common/IndustryTest-BookItalic.otf');
}
@font-face {
	font-family: dc_more;
	src: url('common/Unageo-Regular.ttf');
}
@font-face {
	font-family: connection;
	src: url('common/BabelSans.ttf');
}
body {
	max-width: 1280px;
	margin:auto;
	background:black;
	cursor: url("common/DFLTN.GIF"), default;
/** cursor: url("common/DFLTL.GIF"), pointer; **/
/** cursor: url("common/LOADINGSWIRL.GIF"), wait; **/
}
.header {
	display:flex;
	flex-direction: column;
	background:black;
	position:sticky;
	top:0px;
	height: 110px;
}
.header1 {
	display: flex;
	justify-content: end;
}
.header1 img {
	margin-right: 40px;
	max-width: 220px;
}
.header2{
	display:flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.header2 a {
	display:inline-block;
	color:white;
	text-decoration:none;
	cursor: url("common/DFLTL.GIF"), pointer;
	font-family:DC;
	font-size:25px;
	margin:10px;
}
.header2 a:hover {
	border: 4px solid yellow;
	margin:6px;
}
.main {
	background:#b0b0b0;
	max-width:1280px;
}
.welcome {
	max-width:1280px;
}
#welcomeimg {
	max-width:100%;
	height:auto;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.activitiesboxoutside {
	text-align: center;
	margin: 5px;
	padding: 5px;
	border-radius: 15px;
	background-image: linear-gradient(190deg, rgba(239, 239, 239, 1), rgba(187, 187, 187, 1), rgba(138, 138, 138, 1), rgba(187, 187, 187, 1), rgba(239, 239, 239, 1));
	box-shadow:
		inset 2px 3px rgba(247, 247, 247, 1),
		inset -3px -2px rgba(93, 93, 93, 1);
}
.boxtitle {
	font-family: dc_more;
	margin: 0px;
	font-size: 30px;
}
.activitiesbox {
	font-family: connection;
	font-size: 20px;
	text-align: left;
	margin: 7px;
	padding: 30px;
	border-radius:15px;
	background: rgba(249, 249, 249, 1);
	min-height: 500px;
	box-shadow:
		inset -2px -1px rgba(247, 247, 247, 1),
		inset 1px 2px rgba(93, 93, 93, 1),
		inset 0px 0px 0px 15px #000000;
}
button {
	margin:4px;
	border-radius:5px;
}
button:hover {
	border: 5.6px solid yellow;
	margin:0;
}
iframe {
	border: 3px solid black;
}
.updates {
	display: flex;
	flex-wrap: row;
	justify-content: space-between;
}
.updates p {
	margin: 5px;
}
.updatebox {
	text-wrap: wrap;
	width: 500px;
	display:inline-block;
	vertical-align:top;
}
.footer {
	display:flex;
	background: black;
	color:white;
	position:sticky;
	bottom:0px;
	justify-content:space-around;
}
.footer p {
	font-family:biosish;
}