html, body { /* the whole page */
  width: 100%;
  height: 100%;
  margin: 0;
}
.header { /* title banner on the top */
  width: 100%;
  height: 10%;
  margin: 3%;
}
.ins { /* the underside of the banner container */
}
.sidenav { /* the sidebar thing on the left of the rest of the page */
}
.main{ /* the two rows */
}
.row1 { /* row 1 */
}
.desc { /* description box, separated for correct sizing */
}
.shads { /* box for shadow */
}
.shads img { /* image properties for shads*/
  width: auto;
  height: auto;
  max-width: 50%;
  max-height: 50%;
}
.leftover { /* idk what this is but i have space for it */
}
.row2 { /* row 2 */
}
.cols2 { /* the set of columns on the bottom left */
}
.recbuys { /* my recent buys */
}
.smallbanner { /* favorite characters */
}
.minesweeper { /* minesweeper pb */
}
.currentsong { /* my current favorite song */
}
@media only screen and (max-width: 600px) { /* copy everything in here and edit for mobile layout*/
}
