/* PLEASE just try to make this look arranged on your PC before making it scalable, text is awful just finish putting it together so it's finished at least somewhere. Worst case scenario you'll make a mobile version for the page and that's all you'll need */

/*
ISSUES:
- Sidebar is not properly showing up.
  ^ Probably a combination of margins and width
- Large space between every element.
  ^ Most likely a margin issue
- Minesweeper image is not showing up.
  ^ No idea
- Images are very small.
  ^ They're probably based on the width of their containers.
- Source code is not in a container yet.
  ^ Place it at the bottom of the sidebar? Probably best there.

NOTES:
- Once the title begins to resize, then make that point the mobile switch point.
  ^ Header for mobile is in the whiteboard.
- Front page shouldn't have scrolling. Hopefully the auto settings keep that.
*/

html, body { /* the whole page */
  height: 100%;
  margin: 0%;
}
.header { /* title banner on the top */
  width: auto;
  height: 25px;
  border: 5px solid Black;
  margin: 1%;
  padding: 2px;
  align: center;
  font-size: 15px;
}
.header h1 { /* h1 header settings */
  
}
.ins { /* the underside of the banner container */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: auto;
  height: auto;
  margin: 1%;
}
.sidenav { /* the sidebar thing on the left of the rest of the page */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 10%;
  height: auto;
  margin: 1%;
  overflow-x: hidden;
}
.sidenav a { /* links inside the sidebar */
  padding: 1%;
  text-decoration: none;
  text-size: 20px;
}
.main{ /* the two rows */
  width: auto;
  height: auto;
  margin: 1%;
}
.row1 { /* row 1 */
  display: flex;
  flex-wrap: nowrap;
  height: auto;
  width: auto;
}
.desc { /* description box, separated for correct sizing */
  width: 30%;
}
.shads { /* box for shadow */
  width: 40%;
}
.shads img { /* image properties for shads*/
  width: auto;
  height: auto;
  max-width: 80%;
  max-height: 80%;
}
.leftover { /* idk what this is but i have space for it */
  width: 30%;
}
.row2 { /* row 2 */
  display: flex;
  flex-wrap: nowrap;
}
.cols2 { /* the set of columns on the bottom left */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 40%;
}
.recbuys { /* my recent buys */
  height: 50%;
}
.smallbanner { /* favorite characters */
  height: 50%
}
.smallbanner img { /* banner img on the bottom */
  width: auto;
  height: auto;
  max-width: 80%;
  max-height: 80%;
}
.minesweeper { /* minesweeper pb */
  color: White;
  width: 20%;
}
.minesweeper:before { /* minesweeper bg image */
  background-image: url("/assets/sweeper.png");
  background-size: cover;
  background-position: 75% 50%;
}
.currentsong { /* my current favorite song */
  width: 50%;
}
.current song iframe {
  max-width: 80%;
  max-height: 50%;
}
@media only screen and (max-width: 600px) { /* copy everything in here and edit for mobile layout*/
}
