html {
  margin: 0;
  padding: 0;
}
.col { /* top navigation bar */
  display: flex;
  border: 5px solid Black;
  background-image: url("../../assets/sa2skybox.JPG");
  background-size: cover;
}
.col a { /* link colors */
  color: Black;
}
.col a:hover { /* nifty things */
  color: rgb(166,15,55);
}
.col > div { /* different links */
  margin: 0 10px 0 10px;
  line-height: 25px;
  font-size: 25px;
}
.col img { /* shadow thingy */
  position: absolute;
  right: 10%;
  top: 2%;
  height: 250px;
  z-index: 3;
}
.info {
	display: flex;
	flex-direction: row;
	padding-left: 20px;
}
.col1 {
	display: flex;
	flex-direction: column;
	width: 50%;
}
.col2 {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin-left: 20px;
}
.col2 h2 {
	margin-top: 0;
}
.col2 a {
	text-decoration: none;
}
.col2 li {
	margin-bottom: 10px;
}