html {
  margin: 0;
  padding: 0;
}
.col { /* top navigation bar */
  display: flex;
  border: 5px solid Black;
  background-image: url("../../assets/sa2skybox.JPG");
  background-size: cover;
}
.col a { /* link colors */
  color: Black;
}
.col a:hover { /* nifty things */
  color: rgb(166,15,55);
}
.col > div { /* different links */
  margin: 0 10px 0 10px;
  line-height: 25px;
  font-size: 25px;
}
.jumpsection {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
}
.jumpindiv {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 200px;
  margin: auto;
  padding: 15px;
}
.jumpindiv img {
  width: 90%;
  margin: auto;
}
body a {
	text-decoration: none;
}
