/**
 * 	The main CSS file for the Mario Kart Wii section !!!! Written by Vic (vicarchive), feel free to use w/ no credit!
 * 	You may also use the relevant assets as long as you give credit to those listed in the credits page (vicarchive.github.io/site/pages/credits.html). Their work should not go unnoticed.
 * 	If an asset does not have credit, then it is likely I ripped it from the game / remade it. Please use these with no credit :D
 */

@font-face {
	font-family: MKWII;
	src: url('assets2/FOT-RodinNTLGPro-EB.otf');
}
/** Premade MKWII Text **/
.BlackAndWhite {
	font-family: MKWII;
	color: white;
	-webkit-text-stroke: black 3px; /** May need tweaking **/
	paint-order: stroke fill;
}
.Grey {
	font-family: MKWII;
	color:#818181;
}
.Gold {
	font-family: MKWII;
	color: rgba(211, 203, 192, 1);
	-webkit-text-stroke: rgba(73, 51, 18, 1) 5px;
	paint-order: stroke fill;
	/** transform:scale(0.7,1)  // may use if it's actually needed **/
}
.Gold:hover {
	color: white;
	-webkit-text-stroke: rgba(189, 135, 5, 1) 5px;
}
.BlueHover {
	font-family: MKWII;
	color: rgba(35, 146, 109, 1);
	-webkit-text-stroke: black 4px;
	paint-order: stroke fill;
	text-shadow: -1px 2px black;
}
.BlueHover:hover {
	color: rgba(106, 255, 253, 1);
}
.LightBlue {
	font-family:MKWii;
	color: white;
	-webkit-text-stroke: rgba(29, 162, 211, 1) 5px;
	paint-order: stroke fill;
	text-shadow: -1px 4px black;
}
.LightBlue:hover {
	-webkit-text-stroke: rgba(142, 149, 34, 1) 5px;
}
/** Website Arrangement Template and Button Functions **/
html {
	background: black;
}
body {
	position: relative;
	cursor: url('assets2/player1_c.cur'), default;
	max-width: 1582px;
	height:100%;
	margin: auto;
	background-image: url('assets2/bg.gif');
	background-size: cover;
}
button:hover {
	cursor: url('assets2/player1_c.cur'), pointer;
}
a {
	margin-top: 10px;
	margin-bottom: 10px;
}
.header {
<<<<<<< Updated upstream
    z-index: 1;
	min-height:200px;
=======
	z-index: 1;
	height: 15%;
	width: 100%;
>>>>>>> Stashed changes
	background-image: url('assets2/top.png');
	background-size: cover;
	background-position:bottom left;
}
.headerContent {
	position: relative;
	left: 120px;
	width: calc(100% - 120px);
}
.main {
	z-index: 0;
	width: 100%;
	height: 70%;
}
.footer {
<<<<<<< Updated upstream
    z-index:1;
=======
	z-index: 1;
>>>>>>> Stashed changes
	position: absolute;
	width: 100%;
	bottom: 0px;
	left: 0px;
	min-height:15%;
	max-height: 200px;
	background-image: url('assets2/bottom.png');
	background-size: cover;
	background-position: top left;
}
.footerContent {
	position: relative;
	top: 30px;
	left: 15px;
}
.footerContent button {
	font-size: 20px;
	margin: 5px;
}
.descriptionFooter {
	font-size: 30px;
	text-align: right;
	float: right;
	position: relative;
	top: -20px;
	left: -50px;
	-webkit-text-stroke: black 6px;
}
/** MKWii Buttons **/
.mainButton {
	background-color: rgba(0, 0, 0, 0.4);
	border: 2px solid rgba(203, 156, 15, 1);
	transition: transform 0.1s;
	box-shadow:
		0px 0px 0px 2px black;
}
.mainButton:hover {
	background-color: rgba(189, 132, 29, 0.4);
	border: 2px solid rgba(230, 198, 8, 1);
	transform: scale(1.2);
}
.mainButton:hover p {
	color: white;
	-webkit-text-stroke: rgba(189, 135, 5, 1) 5px;
}
.sideButton {
	background: white;
	border-radius: 5px;
	border: none;
	transition: transform 0.1s;
	box-shadow:
		inset 0px 0px 8px 1px rgba(150, 150, 150, 1),
		inset 0px 0px 2px 0px white,
		4px 2px rgba(0, 0, 0, 0.35);
}
.sideButton:hover {
	transform: scale(1.08);
}
.helpButton {
	max-height: 100px;
	max-width: 100px;
	position: relative;
	background: url('assets2/arrow.png');
	background-size: 100% 100%;
	background-position: center;
	left: calc(100% - 500px);
	border: 5px solid rgba(238, 253, 255, 1);
	border-radius: 50%;
	padding: 20px;
	box-shadow:
		0px 0px 0px 3px rgba(42, 142, 178, 1),
		0px 0px 0px 10px rgba(111, 103, 238, 1),
		0px 0px 0px 20px rgba(181, 181, 45, 1),
		inset 0px 0px 6px 2px rgba(111, 103, 238, 1);
	transition: transform 0.1s;
}
.helpButton p {
	margin: 0;
	font-size: 30px;
	position: relative;
	top: 40px;
	left: -90px;
}
.helpButton:hover {
	transform: scale(1.1);
}
.helpButton:hover p {
	-webkit-text-stroke: rgba(142, 149, 34, 1) 5px;
}
/** Essentially a copy paste of the above Main button but with additional CSS to function like the cup buttons in MKWii **/
.mainButtonImage {
	height: 50px;
	width: 100px;
	background-color: rgba(0, 0, 0, 0.4);
	border: 2px solid rgba(203, 156, 15, 1);
	position: relative;
	transition: transform 0.1s;
	box-shadow:
		0px 0px 0px 2px black;
}
.mainButtonImage img {
	max-height: 80px;
	position: absolute;
	bottom: 7px;
	left: 17px;
}
.mainButtonImage p {
	display: none;
	position: absolute;
	bottom: -15px;
	left: -13px;
	font-size:17px;
	margin:0;
	text-wrap: nowrap;
}
.mainButtonImage:hover {
	background-color: rgba(189, 132, 29, 0.4);
	border: 2px solid rgba(230, 198, 8, 1);
	transform: scale(1.2);
}
.mainButtonImage:hover img {
	max-height: 100px;
}
.mainButtonImage:hover p { /** These may need to be overwritten in your own CSS for it to be positioned correctly **/
	display: block;
	color:white;
	-webkit-text-stroke: rgba(189, 135, 5, 1) 5px;
}
/** MKWii Modal Popup **/
.popUp {
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.1s linear, visibility 0s linear 0.1s;
	position: fixed;
	z-index: 2;
  	left: 0;
  	top: 0;
  	width: 100%;
  	height: 100%;
  	overflow: auto;
  	background-color: rgba(0,0,0,0.4);
}
.popUp.show {
	visibility: visible;
	opacity: 1;
	transition: visibility 1s linear, opacity 0.1s linear;
}
.popUpInside {
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.1s linear, visibility 0s linear 0.1s;
	background-color: white;
	margin: auto;
	margin-top: 15%; /* this is based off of the width for some reason? */
  	padding: 20px;
  	border: 3px solid black;
  	border-radius: 10px;
  	width: 700px;
  	box-shadow: inset 0px 0px 15px 9px rgba(163, 179, 252, 1);
}
.popUpInside.show {
	visibility: visible;
	transform: scale(1);
	transition: visibility 1s linear, transform 0.1s linear;
}
.popUpContent {
	width: 100%;
	background: url('assets2/checker32.png');
}
.popUpContent p {
	margin: 0;
	padding: 5px;
}