@font-face {
	font-family: Myriad; src: url('assets/MYRIADAT.TTF');
}
body {
	background-image:url('assets/GRASS.jpeg');
	background-size:cover;
	max-width:960px;
	margin:auto;
	cursor: url('assets/7_ARROW.cur'), default;
/** cursor: url('assets/7_LINK.cur'), pointer; **/
}
h1 {
	font-family:Myriad;
}
p {
	font-family:Myriad;
}
.frutigerheader {
	border-radius:15px;
	padding:10px;
	text-align:center;
}
.frutigerheader img {
	width:50px;
	display:inline-block;
	margin-left:10px;
	vertical-align:middle;
	cursor: url('assets/7_LINK.cur'), pointer;
}
.bubbles a {
	display:inline-block;
	background-image: url('assets/BUBBLE.png');
	height:100px;
	width:100px;
	text-align:center;
	vertical-align:middle;
	cursor: url('assets/7_LINK.cur'), pointer;
}
