html {
  margin: 0;
  padding: 0;
}
.col { /* top navigation bar */
  display: flex;
  border: 5px solid Black;
  background-image: url("../assets/sa2skybox.JPG");
  background-size: cover;
}
.col a { /* link colors */
  color: Black;
}
.col a:hover { /* nifty things */
  color: rgb(166,15,55);
}
.col > div { /* different links */
  margin: 0 10px 0 10px;
  line-height: 25px;
  font-size: 25px;
}
.main { /* contains everything in it */
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 10px;
}
.titlecontainer {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	text-align: center;
  	background-color: LightBlue;
  	border: 3px solid Black;
  	padding: 10px;
}
.container { /* holds the information boxes */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.box { /* the information boxes under the title */
  float: left;
  margin: 10px;
  width: 400px;
  height: 400px;
  text-align: center;
  background-color: LightBlue;
  border: 3px solid Black;
  padding: 10px;
}
