html {
  margin: 0;
  padding: 0;
}
.col { /* top navigation bar */
  display: flex;
  border: 5px solid Black;
  background-image: url("../../assets/sa2skybox.JPG");
  background-size: cover;
}
.col a { /* link colors */
  color: Black;
}
.col a:hover { /* nifty things */
  color: rgb(166,15,55);
}
.col > div { /* different links */
  margin: 0 10px 0 10px;
  line-height: 25px;
  font-size: 25px;
}
.col img { /* shadow thingy */
  position: absolute;
  right: 10%;
  top: 2%;
  height: 250px;
  z-index: 3;
}
.texts { /* text boxes */
  display: flex;
  flex-direction: row;
  line-height: 40px;
  padding: 10px;
}
.texts p { /* you get it */
  padding-left: 30px;
  font-size: 25px;
}
.artcol { /* row of boxes */
  border-radius: 25px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.artc { /* separate boxes */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 500px;
  border: 5px solid Black;
  border-radius: 15px;
  color: Black;
  font-size: 40px;
  text-decoration: none;
  text-align: center;
}

.socb { /* sonic box */
  background-image: url("../../assets/art/slay.jpg");
  background-size: cover;
  background-position: 50% 75%;
  opacity: 0.3;
}
.socb:hover {
  opacity: 0.6;
}
.spcb { /* splatoon box */
  background-image: url("../../assets/art/slay.jpg");
  background-size: cover;
  background-position: 50% 75%;
  opacity: 0.3;
}
.spcb:hover {
  opacity: 0.6;
}
.sscb { /* ss crossover box */
  background-image: url("../../assets/art/slay.jpg");
  background-size: cover;
  background-position: 50% 75%;
  opacity: 0.3;
}
.sscb:hover {
  opacity: 0.6;
}
.ocsb { /* oc box */
  background-image: url("../../assets/art/slay.jpg");
  background-size: cover;
  background-position: 50% 75%;
  opacity: 0.3;
}
.ocsb:hover {
  opacity: 0.6;
}
.otcb { /* other box */
  background-image: url("../../assets/art/slay.jpg");
  background-size: cover;
  background-position: 50% 75%;
  opacity: 0.3;
}
.otcb:hover {
  opacity: 0.6;
}
