.col {
  display: flex;
  background-color: Orange;
}
.col > div {
  margin: 10px;
  padding: 20px;
  line-height: 20px;
  font-size: 25px;
}
.artcol {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.artc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 500px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border: 5px solid;
  color: White;
  font-size: 40px;
  text-justify: inter-character;
  text-decoration: none;
}

.socb {
  background-image: url("../../assets/art/slay.jpg");
  background-size: cover;
  opacity: 0.6;
}
.spcb {
  background-image: url("../../assets/art/slay.jpg");
  background-size: cover;
  opacity: 0.6;
}
.sscb {
  background-image: url("../../assets/art/slay.jpg");
  background-size: cover;
  opacity: 0.6;
}
.otcb {
  background-image: url("../../assets/art/slay.jpg");
  background-size: cover;
  opacity: 0.6;
}
